body{
    text-align: center;
 /*background-color:#C1DEAE;*/
 background-image: url("IM2.jpg");
 background-size: cover;
}
.abc{
    text-align: left;
    background-image: url("IM2.jpg");
    background-size: cover;
}
#header{
    font-family:Baskerville,Times,'Times New Roman',serif;

    color:white;
    font-variant:small-caps;
    font-size: 40px;
    font-weight:bold;
    padding:20px;
    animation: glow 1s ease-in-out infinite alternate;
}

.innerhead{
    font-family: Baskerville,'Times New Roman', Times, serif;
    color: white;
}
hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(102, 101, 101, 0), rgb(255, 255, 255), rgba(102, 101, 101, 0));
}

#stats{
    margin:auto;
    padding: 10px;
    border-radius: 16px;
    width: fit-content;
    background: rgba(233, 245, 255, 0.31);
    backdrop-filter: blur(3.4px);
    -webkit-backdrop-filter: blur(3.4px);
}

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #180085, 0 0 40px #180085, 0 0 50px #180085, 0 0 60px #180085, 0 0 70px #180085;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #180085, 0 0 40px #180085, 0 0 50px #180085, 0 0 60px #180085, 0 0 70px #180085, 0 0 80px #180085;
    }
  }


  .vo{
    background-color: #1c87c9;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    border: none;
    color: #eeeeee;
    cursor: pointer;
    display: inline-block;
    font-family: sans-serif;
    font-size: 17px;
    padding: 8px 17px;
    text-align: center;
    text-decoration: none;
    animation: glowing 1300ms infinite;
  }

  @keyframes glowing {
    0% {
      background-color: #260049;
      box-shadow: 0 0 5px #260049;
    }
    50% {
      background-color: #260049;
      box-shadow: 0 0 20px #260049;
    }
    100% {
      background-color: #260049;
      box-shadow: 0 0 5px #260049;
    }
  }